.my-index-layout {
	height: 100vh;
	display: flex;
}

.my-index-card-tags {
	display: flex;
	margin-top: 10px;
	flex-wrap: wrap;
	gap: 6px;
}

.my-index-flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

p {
	margin-bottom: 0 !important;
}

/* From Uiverse.io by Cevorob */
.burger {
	position: fixed;
	right: 10px;
	top: 13px;
	z-index: 1000;
	width: 40px;
	height: 30px;
	background: transparent;
	cursor: pointer;
	display: block;
	transform: scale(0.5);
}

.burger input {
	display: none;
}

.burger span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: black;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
	top: 0px;
	transform-origin: left center;
}

.burger span:nth-of-type(2) {
	top: 50%;
	transform: translateY(-50%);
	transform-origin: left center;
}

.burger span:nth-of-type(3) {
	top: 100%;
	transform-origin: left center;
	transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
	transform: rotate(45deg);
	top: 0px;
	left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
	width: 0%;
	opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
	transform: rotate(-45deg);
	top: 28px;
	left: 5px;
}
.my-index-burger-menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
}

.my-index-burger-menu > div {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	transition: all 500ms;
	transform: translateX(-100%);
	overflow: auto;
}

.my-index-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, 280px);
	gap: 10px; /* 间距 */
	justify-content: center;
	margin-top: 20px !important;
	padding: 10px;
	overflow: hidden;
}

.my-index-cards > .card {
	padding: 20px;
	width: 280px;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	overflow: hidden;
	transition: all 500ms;
	cursor: pointer;
}

.my-index-cards > .card:hover {
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.my-index-card-header {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
	align-items: center;
}

.my-index-card-header > div {
	font-size: 1rem;
	font-weight: 700;
}

.my-index-card-header > img {
	width: 22px;
}

.multi-line-ellipsis {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* 设置显示的行数 */
	overflow: hidden;
	text-overflow: ellipsis;
}

.my-index-menu {
	overflow: auto;
	height: 100vh;
	width: 10rem !important;
	font-size: 0.8rem !important;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	background-color: white;
}

.my-index-menu::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}

.my-avatar {
	--size: 50px;
	width: var(--size);
	height: var(--size);
	border-radius: var(--size);
	background-size: cover;
}

::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}

::-webkit-scrollbar-track {
	width: 6px;
	background: rgba(#101f1c, 0.1);
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(144, 147, 153, 0.5);
	background-clip: padding-box;
	min-height: 28px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	transition: background-color 0.3s;
	cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(144, 147, 153, 0.3);
}

.my-index-right-container {
	height: fit-content;
	flex: 1;
	padding-top: 1rem;
}
.title {
	font-size: 1.6rem;
	font-weight: 700;
	color: #a075e5;
	width: fit-content;
	text-shadow:
		1px -1px #fff,
		-1px 1px #999;
	cursor: pointer;
}
.flex-20 {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}